* {
  box-sizing: border-box; 
}

header, footer {
  height: 100px;
  border: 2px solid black;
  clear: both;
}

section {
  height: 300px;
  width: 20%;
  border: 2px solid black;
  float: left;
}

.section-big {
  width: 40%;
}